<div class="container-fluid">
    <h1>Registration Form</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
       
      <div class="form-group">
        <label >Name</label>
        <input type="text"  placeholder="Enter the name" required #name="ngModel"[class.is-invalid]=" name.invalid &&name.touched"name="userName" class="form-control" [(ngModel)]="userModel.name">
        <small  class="text-danger" [class.d-none]="name.valid || name.untouched"> Name is required</small>
      </div>
    
  
      <div class="form-group">
        <label >Email</label>
        <input type="email" required #email ="ngModel"[class.is-invalid]="email.invalid && email.touched "name="email"  placeholder="Enter the Email" class="form-control"  [(ngModel)]="userModel.email" >
        <small  class="text-danger" [class.d-none]="email.valid || email.untouched"> Email is required</small>
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" placeholder="Enter the password" required #password ="ngModel"[class.is-invalid]="password.invalid && password.touched "name="password" class="form-control"  [(ngModel)]="userModel.password" >
        <small  class="text-danger" [class.d-none]="password.valid || password.untouched"> Password is required</small>
      </div>
  
      <div class="form-group">
        <label >Phone</label>
        <input type="tel" placeholder="Enter the phone number" #phone="ngModel" pattern="\d{10}$" required [class.is-invalid]="phone.invalid &&phone.touched" name="phone" class="form-control"  [(ngModel)]="userModel.phone">
  
   <div *ngIf="phone.errors && (phone.invalid ||phone.touched)">
     <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
     <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
  
   </div>
   </div>
  
      <div class="form-group">
        <label>City</label> 
      <select class="custom-select" name="city"  [(ngModel)]="userModel.city">
        <option selected>I am from</option>
        <option *ngFor="let city of city">{{city}}</option>
      </select>
     <!--  required #city="ngModel" [class.is-invalid]="city.invalid && city.touched"  -->
      <!-- <small class="text-danger"[class.d-none]="city.valid ||city.untouched">Please choose a city</small> -->
    </div>
    <div class="mb-3">
      <label>Gender</label> 
      <div class="form-check">
        <input class="form-check-input"   [(ngModel)]="userModel.gender" type="radio" name="gender" value="male">
        <label class="form-check-label" >male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input"  [(ngModel)]="userModel.gender" type="radio" name="gender" value="female">
        <label class="form-check-label">female</label>
      </div>
      <div class="form-check">
        <input class="form-check-input"  [(ngModel)]="userModel.gender" type="radio" name="gender" value="others">
        <label class="form-check-label">others</label>
      </div>
    </div>
   
   
    <button  class="btn-btn-primary" type="submit">Submit</button>
  <!--  <a routerLink="/login" class="btn btn-link" type="submit"> Submit</a> -->
     
  
    
      
    </form>
  
  </div>